@charset "utf-8";
/* CSS Document */
.menum
{
	list-style-type:none;
}
.menum a
{
	display:block;
	text-decoration:none;
	color:#0CF;
	background-color:#000;
	width:40px;
	height:50px;
	text-align:center;
	vertical-align:middle;
	font-size:36px;
}
.menum a:hover
{
	color:#000;
	background-color:#0CF;
}
.menum li
{
	margin-right:0px 0px 4px 0px;
}